.footer {
  background-color: #fafafa;
}
.footer-container {
  padding-top: 92px;
  padding-bottom: 80px;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer-col {
  width: 50%;
  @include media-breakpoint-up(sm) {
    width: 20%;
  }
}
.footer-title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
  @include media-breakpoint-up(sm) {
    text-align: start;
    padding-bottom: 32px;  
  }
}
.footer-text {
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: start;
  }
}
.footer a {
  display: block;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: start;
  }
}
.footer-services {
  text-align: center;
}
.bank-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}
.footer-copyright {
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: start;
    padding-top: 140px;
    width: 100%;
  }
}
.sn-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  @include media-breakpoint-up(sm) {
    justify-content: start;
  }
}
.icon-fb,
.icon-linkedin,
.icon-twitter {
  font-size: 20px;
  color: #101010;
  padding-top: 20px;
  padding-right: 15px;
}
.icon-twitter {
  padding-right: 0;
}
.footer-wrap {
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}
