body {
    font-family: $primary-font;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
    &:hover {
      text-shadow: 1px 1px 2px #f57d89;
      text-decoration: underline;
    }
}
button {
  cursor: pointer;
  font-family: inherit;
}
button:active {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75) inset;
}
button:focus {
  border: 3px solid #000;
}
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-up(xs) {
    max-width: map-get($container-width, xs);
  }
  @include media-breakpoint-up(sm) {
    max-width: map-get($container-width, sm);
  }
  @include media-breakpoint-up(md) {
    max-width: map-get($container-width, md);
  }
  @include media-breakpoint-up(lg) {
    max-width: map-get($container-width, lg);
  }
}
.header {
  display: none;
  position: absolute;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  right: 0;
  left: 0;
  @include media-breakpoint-up(xs) {
    display: flex;
  }
}
.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include media-breakpoint-up (lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.nav-list {
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  color: #fff;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
  @include media-breakpoint-up(lg) {
    width: 445px;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 115px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: #fff;
  }
}
.nav-list-item {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}
.head-btn {
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 12px;
  background: none;
  text-transform: uppercase;
  color: #fff;
  &:hover {
    background: #fff;
    color: #f57d89;
    transition: 0.3s;
  }
  @include media-breakpoint-up(xs) {
      margin-top: 5px;
  }
  @include media-breakpoint-up(lg) {
    margin-left: 30px;
  }
}
.main-title {
  font-weight: 700;
  align-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;
  @include media-breakpoint-up(xs) {
    font-size: 44px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 72px;
  }
}
.main-section {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/main_section_bg.jpg');
  background-size: cover;
  background-position: center top;
}
.main-description {
  font-weight: 700;
  display: block;
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
  }
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(xs) {
    min-height: 782px;
    background-position: top center;
    background-repeat: no-repeat;
  }
  @include media-breakpoint-up(sm) {
    min-height: 408px;
  }
  @include media-breakpoint-up(md) {
    min-height: 538px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 636px;
  }
}
.lang-btn {
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}
.lang-abbr {
  padding-right: 10px;
  padding-left: 10px;
}
.main-btn {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ed4c5c;
  &:hover {
    background: #ed4c5c;
    color: #fff;
    transition: 0.3s;    
    }
}
.nav {
  @include media-breakpoint-up(sm) {
    width: 100%;
    }
  @include media-breakpoint-up(lg) {
    width: auto;
    }
  }
.logo-link {
  @include media-breakpoint-up(sm) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iwwa-file-csv:before {
  content: "\e900";
}
.icon-iwwa-file-pdf:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-ant-design_cloud-download-outline:before {
  content: "\e903";
}
.icon-ion-logo-google-playstore:before {
  content: "\e904";
}
.icon-ion-logo-apple-appstore:before {
  content: "\e905";
}
.icon-simple-icons_windows:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-Cloud {
  padding-right: 10px;
}
.icon-Cloud:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-fb:before {
  content: "\e90b";
}