.section-3 {
  padding-top: 50px;
  background: #fafafa;
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features-card {
	display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
	padding-top: 34px;
	padding-bottom: 25px;
	border-radius: 8px;
  background: #fff;
}
.box-title {
  font-weight: 700;
  font-size: 18px;
	line-height: 22px;
	padding: 5px;
  text-align: center;
  color: #101010;
}
.box-text {
	font-size: 12px;
  line-height: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
	text-align: center;
	color: #101010;
}
.box-link {
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
	color: #ed4d5c;
}
.col-3 {
  @include media-breakpoint-up(md) {
  display: flex;
  justify-content: center;
  width: 33.33333%;
  padding: 15px;
  }
}
.features-title {
  width: 100%;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  padding: 10px;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.features-box {
  position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }  
}
.box-1,
.box-2,
.box-3 {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 10%;  
  max-width: 70%;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  padding-right: 32px;
  padding-left: 32px;
  @include media-breakpoint-up(md) {
    top: 160px;
    max-width: 22%;
  }
  @include media-breakpoint-up(lg) {
    top: 187px;
    max-width: 22%;
  }
}
.box-1 {
  @include media-breakpoint-up(xs) {
    top: 14%;
  }
  @include media-breakpoint-up(md) {
    top: 60%;
    left: 22px
  }
  @include media-breakpoint-up(lg) {
    top: 34%;
    left: 32px
  }
}
.box-2 {
  top: 44%;
  @include media-breakpoint-up(xs) {
    top: 47%;
  }
  @include media-breakpoint-up(md) {
    top: 60%;
    left: 342px;
  }
  @include media-breakpoint-up(lg) {
    top: 34%;
    left: 412px;
  }
}
.box-3 {
  top: 77%;
  @include media-breakpoint-up(xs) {
    top: 80%;
  }
  @include media-breakpoint-up(md) {
    top: 60%;
    left: 662px;
  }
  @include media-breakpoint-up(lg) {
    top: 34%;
    left: 794px;
  }
}
.box-img {
  padding-bottom: 140px;
  @include media-breakpoint-up(md) {
    padding: 10px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 230px;
  }
}