$primary-font: 'Lato', sans-serif;
$primary-color: #ee3d1b;
$secondary-color: #d52047;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$grid-breakpoints: (
    'xs': '576px',
    'sm': '768px',
    'md': '992px',
    'lg': '1200px',
);
