body {
    font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.head-container,
.nav-list,
.lang-btn {
  display: flex;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 60px;
  display: flex;
}
.logo-link {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.nav {
  display: flex;
  align-content: center;
}
.nav-list {
  width: 445px;
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 115px;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  color: #fff;
}
.lang-btn {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.lang-abbr {
  padding-right: 10px;
  padding-left: 10px;
}
.head-btn {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 12px 28px;
  margin-left: 32px;
  background: none;
  text-transform: uppercase;
  color: #fff;
}
.main-container {
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/main_section_bg.jpg');
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 782px;
}
.main-title {
  text-align: center;
  padding-top: 260px;
  padding-bottom: 20px;
  font-family: 'Lato';
  font-weight: bold;
  align-content: center;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}
.main-description {
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: block;
  max-width: 500px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
.main-btn {
  width: 160px;
  height: 50px;
  background: #fff;
  border-radius: 6px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #Ed4c5c;
}















































@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iwwa-file-csv:before {
  content: "\e900";
}
.icon-iwwa-file-pdf:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-ant-design_cloud-download-outline:before {
  content: "\e903";
}
.icon-ion-logo-google-playstore:before {
  content: "\e904";
}
.icon-ion-logo-apple-appstore:before {
  content: "\e905";
}
.icon-simple-icons_windows:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-Cloud {
  padding-right: 10px;
}
.icon-Cloud:before {
  content: "\e908";
}
