.app-container {
    background-color:#ed4d5c;;
}
.app-title {
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  text-align: center;
}
.app-text {
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  max-width: 445px;
}
.icon-ion-logo-google-playstore,
.icon-ion-logo-apple-appstore,
.icon-simple-icons_windows {
  color: #fff;
}
.icon-apps {
  display: flex;
  justify-content: space-around;
}
.app-image {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #c4c4c4;
  border-radius: 15px;
}
.img-block {
  text-align: center;
}
@media (min-width: 992px) {
  .col-2 {
    width: 50%;
  }
  .app-title {
    max-width: 440px;
    text-align: left;
    padding-left: 60px;
  }
  .app-text {
    max-width: 364px;
  }
  .icon-apps {
    display: flex;
    justify-content: start;
    padding-left: 60px;
  }
  .icon-ion-logo-google-playstore,
  .icon-ion-logo-apple-appstore,
  .icon-simple-icons_windows {
    margin-right: 25px;
  }
  .app-image {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .app-title {
    padding-left: 0;
  }
  .icon-apps {
    padding-left: 0;
  }
  .app-image {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .img-block {
    margin-right: auto;
    margin-left: auto;
  }
  .app-text {
  margin-left: 0;
  }
  .first-block {
    margin-left: 166px;
  }
  .second-block {
    margin-right: 75px;
    margin-left: 100px;  
  }
}