body {
    font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
} 
.header {
  display: flex;
  position: absolute;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  right: 0;
  left: 0;
}
.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.nav-list {
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  color: #fff;
}
.nav-list-item {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
}
.head-btn {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 12px;
  background: none;
  text-transform: uppercase;
  color: #fff;
}
.main-title {
  font-family: 'Lato';
  font-weight: 700;
  align-content: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;
}
.main-section {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.main-description {
  font-family: 'Lato';
  font-weight: 700;
  display: block;
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lang-btn {
  font-family: 'Lato';
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
.lang-abbr {
  padding-right: 10px;
  padding-left: 10px;
}
.main-btn {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #Ed4c5c;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-container {
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/main_section_bg.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .head-btn {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .head-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav {
    width: 100%;
  }
  .nav-list {
    flex-direction: row;
  }
  .logo-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .lang-btn {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .head-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .nav {
    width: auto;
  }
  .nav-list {
    width: 445px;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 115px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    color: #fff;
  }
  .head-btn {
    margin-left: 30px;
  }
  .main-title {
    font-size: 72px;
  }
  .main-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
  }
  .nav-list-item {
    padding: 0;
  }
}







@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iwwa-file-csv:before {
  content: "\e900";
}
.icon-iwwa-file-pdf:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-ant-design_cloud-download-outline:before {
  content: "\e903";
}
.icon-ion-logo-google-playstore:before {
  content: "\e904";
}
.icon-ion-logo-apple-appstore:before {
  content: "\e905";
}
.icon-simple-icons_windows:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-Cloud {
  padding-right: 10px;
}
.icon-Cloud:before {
  content: "\e908";
}

  